@import 'header';
@import 'formsFooter';
@import 'variables';

* {
    margin: 0%;
    padding: 0;
}

body {
    .section-inicio {
        background: linear-gradient(rgba(238, 148, 223, 0.2),
                rgba(255, 255, 255, 0.8)),
            url("../resources/img/15-1024x406.jpg");
        height: 406px;
        width: auto;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            height: 450px;
            width: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-content: flex-start;

            h1 {
                font-weight: 700;
                margin-bottom: 5px;
            }

            p {
                font-size: 20px;
                margin-bottom: 25px;
                text-align: center;
            }

            .button {
                min-width: 80px;
                min-height: 60px;
                font-family: "Nunito", sans-serif;
                font-size: 22px;
                text-transform: uppercase;
                letter-spacing: 1.3px;
                font-weight: 700;
                color: #313133;
                background: #4fd1c5;
                background: linear-gradient(90deg,
                        rgba(129, 230, 217, 1) 0%,
                        rgba(79, 209, 197, 1) 100%);
                border: none;
                border-radius: 1000px;
                box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
                transition: all 0.3s ease-in-out 0s;
                cursor: pointer;
                outline: none;
                padding: 15px;
            }

            button::before {
                content: "";
                border-radius: 1000px;
                min-width: calc(200px + 12px);
                min-height: calc(60px + 12px);
                border: 6px solid #00ffcb;
                box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all 0.3s ease-in-out 0s;
            }

            .button:hover,
            .button:focus {
                color: #313133;
                transform: translateY(-6px);
            }

            button:hover::before,
            button:focus::before {
                opacity: 1;
            }

            button::after {
                content: "";
                width: 30px;
                height: 30px;
                border-radius: 100%;
                border: 6px solid #00ffcb;
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: ring 1.5s infinite;
            }

            button:hover::after,
            button:focus::after {
                animation: none;
                display: none;
            }

            @keyframes ring {
                0% {
                    width: 30px;
                    height: 30px;
                    opacity: 1;
                }

                100% {
                    width: 300px;
                    height: 300px;
                    opacity: 0;
                }
            }
        }
    }

    .section-boxes {
        padding-top: 100px;
        background: linear-gradient(to bottom,
                rgb(196, 195, 195),
                whitesmoke 80%,
                rgb(211, 211, 211));
        padding-bottom: 100px;

        .container-boxes {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 510px;
                margin: 25px;
            }

            div {
                width: 510px;

                ul {
                    li {
                        color: grey;
                        line-height: 26px;
                    }
                }
            }
            p {
                color: grey;
                line-height: 26px;
              }
        }
    }
}