*{
    font-family: 'Lato',Helvetica,Arial,Lucida,sans-serif;
    background: whitesmoke;
    padding: 0;
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-areas: "header "
                         "inicio "
                         "servicios "
                         "grupo-videos "
                         "final"
                         "footer";
     grid-template-rows: 80px 760px 1010px 700px 622px 80px;

}
@media(max-width:600px){
    .grid-container{
        display: grid;
        grid-template-areas: "header "
                             "inicio "
                             "servicios "
                             "grupo-videos "
                             "final"
                             "footer";
         grid-template-rows: 120px 400px 1600px 1150px 800px 80px;
    max-width: 600px;
    }

}
/*Header*/

.header {
    grid-area: header;
    background: linear-gradient(to bottom, white, whitesmoke 80%, white);
  }
  .container {
    display: flex;
    align-items: flex-end;
    background: none;
  }
  .container a {
    margin: auto;
    background: none;
  }
  .nav-bar {
    display: flex;
    margin: auto;
    background: none;
  }
  .nav-menu {
    list-style: none;
    display: flex;
    margin-right: 30px;
    background: none;
  }
  .nav-menu li a {
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    color: grey;
    background: none;
  }
  .nav-social {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: auto;
    background: none;
  }
  .nav-social li a img {
    height: 20px;
    padding: 3px;
  }
  .nav-menu li a:hover {
    color: rgb(207, 209, 211);
  }
  .logo {
    height: 40px;
  }


  @media(max-width:600px){
    .header{
        height: 120px;
    }
    .container{
        max-width: 600px;
        flex-direction: column;
        height: 120px;
        justify-content: center;
    }    
    .nav-bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
  



/* Section Inicio*/
.inicio{
    grid-area: inicio;
    background-image:url(../img/web-dev-23-1024x545.png),linear-gradient(to top,whitesmoke, blue 50%, white);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.inicio-container{
    display: grid;
    width: 680px;
    height: 340px;
}
.inicio-texto{
    color: rgb(255, 255, 255);
}
.inicio-texto, div , h2 , h4{  
    background-color: #ffffff00;
}
.inicio-texto h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 0.75em;
    text-align: left;
    margin-bottom: 35px;
}
.inicio-texto h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 2em;
    font-family: "Open Sans",Arial,sans-serif;
    text-align: left;
}
.btn {
    background-color: rgba(218, 219, 255, 0.61); 
    color: black; 
    border: 2px solid #ffffff;
    border-radius: 6px;
    padding: 16px 32px;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
.btn:hover {
    background-color: #1a65bb;
    color: white;
}
@media (max-width: 600px) {
    .inicio-container{
        width: 450px;
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .inicio{
        max-width: 600px;
        background-position: initial;
        background-size: 600px;
    
    }
    .inicio-texto h2{
        font-size: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .inicio-texto h4{
        font-size: 10px;
        text-align: center;
    }
    .btn {
        padding: 10px 22px;
        margin-right: 10px;
        font-size: 12px;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }
}



/*Section Servicios*/
.servicios{
    grid-area: servicios;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "columna1 aside1"
                         " aside2 columna2";
    grid-template-rows: 110px 450px 450px;
    grid-template-columns: 400px 400px;
    justify-content: center;
    grid-gap: 0px 20px;
}
.titulo{
    text-align: center;
    text-decoration:underline;
    font-size: 35px;
    grid-area: titulo;
    align-self: center;
}
.aside-servicios1{
    grid-area: aside1;
}
.aside-servicios2{
    grid-area: aside2;
}
.column-servicios1{
    grid-area: columna1;
}
.column-servicios2{
    grid-area: columna2;
}
.aside-servicios1 ,.aside-servicios2{
    line-height: 1.3em;
    text-align:left; 
    margin-left: 25px;
    margin-top: 20px;
}
.box-servicios{
    border: 1px solid #abb8c3;
    padding: 15px 15px;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
} 
.box-servicios p{
    line-height: 1.3em;
    font-size: 13px;
    padding: 5px;
}
.aside-servicios2 h2{
    margin: 15px 0px;
}
.aside-servicios1 h2{
    margin: 15px 0px;
}
@media (max-width: 600px) {
    .servicios{
        display: flex;
        flex-direction:column;
        max-width: 500px;
        margin-left: 25px;
    }
    .titulo{
       margin: auto;
    }
    .aside-servicios1{
        margin-bottom: 45px;
    }
    .box-servicios{
        width: 475px;
        padding: 25px;
    }
}



/*Seccion Videos*/
.grupo-videos{
    grid-area: grupo-videos;
    background-image:url(../img/web-design-background-03-1024x347.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
    display: grid;
   grid-template-areas: "titulo titulo"
                        "video1 video2";
    grid-template-columns: 700px 700px;
    grid-template-rows: 80px 600px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.box {
    width: 600px;
    height: 410px;
    border: 3px;
    border-style: solid;
    border-color: #535353;
    padding-left: 25px;
    background-color: #53535331;
}
.box h1, .titulo{
    margin:40px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    background: none;
}
.titulo h1{
    grid-area: titulo;
    background: none;
    margin-top: 45px;
}
.video-box1{
    grid-area: video1;
}
.video-box2{
    grid-area: video2;
}
@media (max-width: 600px) {
    .grupo-videos{
        display: flex;
        flex-direction: column;
        max-width: 600px;
    }
    .box {
        max-width: 500px;
        margin-top: 25px;
    }
    .box iframe{
        max-width: 450px;
    }
}


/*seccion final*/

.final{
    grid-area: final;
}
.section-inicio-final{
height: 600px;
width: 100%;
background-image: url("/resources/img/section-background-1024x622.jpg");
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content:space-evenly;
align-items: center;
}
.text-inicio-final{
    height: 100px;
    width: 450px;
    align-self: flex-start;
    margin-top: 150px;
}
.text-inicio-final h1 ,.text-inicio-final h3 ,.text-inicio-final p{
    background:none;
    margin: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 57, 57);
}
.text-inicio-final p{
    font-size: 22px;
    line-height: 25px;
}
.text-inicio-final h3{
font-size: 25px;
font-weight: 600;
}
.text-inicio-final h1 {
    font-size: 40px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style-9{
	width: 600px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 200px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"] {
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 16px Arial, Helvetica, sans-serif;
    
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
@media (max-width: 600px) {
   .section-inicio-final{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    height: 800px;
   }
   .text-inicio-final{
    margin-bottom: 1px;
    margin-bottom: 150px;
   }
   .form-style-9{
	width: 450px;
}
}

/* Footer*/

.footer{
    grid-area: footer;
}
.footer{
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p, img{
    background: none;
}
.footer p{
    color: whitesmoke;
    background: none;

}
.footer img{
    height: 50px;
    margin-right: 40px;    
}


